<div class="container">
    <h2>Productos</h2>
    <form (ngSubmit)="saveProducto()">
      <input type="text" [(ngModel)]="formData.nombre" name="nombre" placeholder="Nombre" required>
      <textarea [(ngModel)]="formData.descripcion" name="descripcion" placeholder="Descripción" required></textarea>
      <input type="number" [(ngModel)]="formData.precio" name="precio" placeholder="Precio" required>
      <select [(ngModel)]="formData.id_categoria" name="id_categoria" required>
        <option value="">Seleccione una categoría</option>
        <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nombre }}</option>
      </select>
      <select [(ngModel)]="formData.id_marca" name="id_marca" required>
        <option value="">Seleccione una marca</option>
        <option *ngFor="let marca of marcas" [value]="marca.id">{{ marca.nombre }}</option>
      </select>
      <button type="submit">{{ selectedProducto ? 'Actualizar' : 'Crear' }}</button>
    </form>
    <ul>
      <li *ngFor="let producto of productos">
        {{ producto.nombre }} - {{ producto.descripcion }} - ${{ producto.precio }} 
        <button (click)="editProducto(producto)">Editar</button>
        <button (click)="deleteProducto(producto.id)">Eliminar</button>
      </li>
    </ul>
</div>